/*@import 'partials/_mobile';*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html {
  font-size: 100%; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.wrap aside .aboutme, .wrap aside .contactme, .wrap aside .skills {
  display: block;
  margin-top: 11%;
  text-transform: uppercase;
  font: 1.25em "Roboto Slab", serif;
  color: #ffffff;
  height: 46px;
  line-height: 46px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 55px;
  margin-left: 12%; }

.wrap aside .contact-list .contact-item1, .wrap aside .contact-list .contact-item2, .wrap aside .contact-list .contact-item3 {
  font: 1rem "Roboto Slab", serif;
  color: #ffffff;
  height: 33px;
  line-height: 33px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px; }

.wrap aside .skill-wrapper .html, .wrap aside .skill-wrapper .css3, .wrap aside .skill-wrapper .jscript, .wrap aside .skill-wrapper .sass, .wrap aside .skill-wrapper .jquery, .wrap aside .skill-wrapper .wordpress, .wrap aside .skill-wrapper .photoshop {
  display: block;
  font: 1rem "Roboto Slab", serif;
  color: #ffffff;
  height: 33px;
  line-height: 33px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px; }

.wrap article section .co, .wrap article section .work-period, .wrap article section .inst, .wrap article section .study-period {
  display: inline-block;
  padding-left: 30px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #90a4ae;
  font: 0.875 "Roboto Slab", serif; }

.wrap article section .work-header, .wrap article section .ed-header, .wrap article section .lang-header {
  display: inline-block;
  font: 700 1.5rem "Roboto Slab", serif;
  color: #263238;
  max-height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 8%;
  padding-left: 65px; }

body {
  max-width: 1200px;
  margin: 0 auto; }

.wrap {
  display: flex;
  justify-content: flex-start;
  height: 100%; }
  .wrap aside {
    background-color: #37474f;
    width: 35%;
    height: 100%;
    padding-bottom: 50px; }
    .wrap aside header {
      padding-top: 3.125em;
      min-height: 35%;
      background-color: #263238;
      text-align: center;
      text-transform: uppercase; }
      .wrap aside header img {
        width: 50%; }
      .wrap aside header .main-head {
        padding-top: 20px;
        padding-bottom: 20px;
        font: 500 1.700em/1.700em 'Roboto Slab', serif;
        color: #fff; }
    .wrap aside .aboutme {
      background-image: url("../graphics/about.png"); }
    .wrap aside .side-paragraph {
      margin-left: 12%;
      color: #ffffff;
      font: 1rem "Roboto Slab", serif;
      padding-top: 15px;
      padding-right: 30px; }
    .wrap aside .contactme {
      background-image: url("../graphics/about.png"); }
    .wrap aside .contact-list {
      margin-top: 4%;
      margin-left: 4%;
      list-style-type: none;
      list-style-position: inside; }
      .wrap aside .contact-list li:not(.contact-item1) {
        margin-top: 20px; }
      .wrap aside .contact-list .contact-item1 {
        background-image: url("../graphics/address.png"); }
      .wrap aside .contact-list .contact-item2 {
        background-image: url("../graphics/online.png"); }
      .wrap aside .contact-list .contact-item3 {
        background-image: url("../graphics/mobile.png");
        text-decoration: none; }
    .wrap aside .skills {
      background-image: url("../graphics/skills.png"); }
    .wrap aside .skill-wrapper {
      margin-left: 13.5%;
      margin-top: 4%; }
      .wrap aside .skill-wrapper .html {
        background-image: url("../graphics/htmlpic.png"); }
      .wrap aside .skill-wrapper .css3 {
        background-image: url("../graphics/css3.png"); }
      .wrap aside .skill-wrapper .jscript {
        background-image: url("../graphics/jscript.png"); }
      .wrap aside .skill-wrapper .sass {
        background-image: url("../graphics/sass-32.png"); }
      .wrap aside .skill-wrapper .jquery {
        background-image: url("../graphics/jquery.png"); }
      .wrap aside .skill-wrapper .wordpress {
        background-image: url("../graphics/wp.png"); }
      .wrap aside .skill-wrapper .photoshop {
        background-image: url("../graphics/ps.png"); }
      .wrap aside .skill-wrapper #myProgress {
        width: 65%;
        background-color: #ddd;
        margin-left: 40px;
        margin-top: 10px;
        border-radius: 5px; }
      .wrap aside .skill-wrapper #myBar, .wrap aside .skill-wrapper #myBar2, .wrap aside .skill-wrapper #myBar3, .wrap aside .skill-wrapper #myBar4, .wrap aside .skill-wrapper #myBar5, .wrap aside .skill-wrapper #myBar6, .wrap aside .skill-wrapper #myBar7 {
        width: 1%;
        height: 5px;
        border: 0.5px solid #fff;
        border-radius: 5px;
        background-color: #263238; }
  .wrap article {
    width: 60%;
    height: 100%; }
    .wrap article section {
      margin-left: 10%; }
      .wrap article section .work-header {
        background-image: url("../graphics/work.png");
        background-repeat: no-repeat;
        background-position: left center; }
      .wrap article section .work-subheader, .wrap article section .ed-subheader {
        margin-top: 20px;
        padding-left: 60px;
        text-transform: uppercase;
        font: 1.313em "Roboto Slab", serif;
        color: #263238; }
      .wrap article section .co {
        margin-left: 9.5%;
        background-image: url("../graphics/company.png"); }
      .wrap article section .work-period {
        margin-left: 10px;
        background-image: url("../graphics/work-time.png"); }
      .wrap article section .duty-text, .wrap article section .study-text {
        margin-left: 9.5%;
        margin-top: 10px;
        font: 1rem "Roboto Slab", serif;
        color: #263238; }
      .wrap article section .ed-header {
        background-image: url("../graphics/education.png");
        background-repeat: no-repeat;
        background-position: left center; }
      .wrap article section .inst {
        margin-left: 60px;
        background-image: url("../graphics/institution.png"); }
      .wrap article section .study-period {
        margin-left: 10px;
        background-image: url("../graphics/study-time.png"); }
      .wrap article section .lang-header {
        background-image: url("../graphics/lang.png");
        background-repeat: no-repeat;
        background-position: left center; }
      .wrap article section .lang-box {
        margin-left: 10%;
        margin-top: 3%;
        width: 70%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .wrap article section .lang-box .lang-1 {
          width: 30%;
          height: auto;
          text-align: center; }
        .wrap article section .lang-box .lang-2 {
          width: 30%;
          height: auto;
          text-align: center; }
        .wrap article section .lang-box .lang-3 {
          width: 30%;
          height: auto;
          text-align: center; }
        .wrap article section .lang-box .desc {
          display: block;
          width: 100%;
          padding-top: 10px; }

@media screen and (max-width: 480px) {
  .wrap {
    flex-wrap: wrap;
    margin: 0;
    align-content: flex-start; }
    .wrap aside, .wrap article {
      flex-basis: 100%; }
    .wrap article section .lang-box {
      align-content: space-between; }
      .wrap article section .lang-box div {
        flex-basis: 100%; }
        .wrap article section .lang-box div img {
          width: 150px;
          height: auto; }
      .wrap article section .lang-box .desc {
        padding-bottom: 10px; } }
@media screen and (max-width: 768px) {
  .wrap aside {
    width: 40%; }
    .wrap aside .contact-list {
      margin-left: 1%; }
  .wrap article {
    width: 60%; }
    .wrap article section {
      margin-left: 2%; }
      .wrap article section .work-subheader, .wrap article section .ed-subheader, .wrap article section .co, .wrap article section .ed-subheader, .wrap article section .inst {
        margin-left: 2%; }
      .wrap article section .work-subheader, .wrap article section .ed-subheader {
        padding-left: 0; }
  .wrap .lang-box img {
    width: 100%;
    height: auto; } }

/*# sourceMappingURL=main.css.map */
